
/********** Root CSS **********/

body {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 16px;
}

/* Animation Background */

/* Navbar and footer Gradient Color */
.gradient-custom {
    /* fallback for old browsers */
    background: #007f5f;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(0,127,95,1), rgba(191,210,0,1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(0,127,95,1), rgba(191,210,0,1))
  }

/* Navigation */

.navbar-brand span {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 200;
  display: inline-block;
  padding: 10px 0 0 15px;
  text-transform: uppercase;
  color: #fff;
}

.navbar-brand span:hover {
  color: #000;
}

.navbar-brand img {
  height: 64px;
  margin-right: 2px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #fff;
  text-align: center;
}

#nav-list a:hover {
  color: yellow;
}

#logo {
  vertical-align: middle;
}

.logo img {
  transition: all 0.5s ease-in-out;
}

.logo:hover img {
  transform: scale(1.2);
}

.navbar-nav {
  text-transform: uppercase;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
  outline: none;
  border-color: transparent;
}

/* Header with Glass Effects */

header.slogan {
  padding: 5rem 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 127, 95, 1), rgba(191, 210, 0, 1));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  color: #fff;
}

.header-content {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


/* Page Section */

.page-section {
  padding: 8rem 0;
}

section#about {
  color: #007f5f;
}


section#portfolio {
  color: #FFF;
}


section#services {
  color: #007f5f;
}
section#services a.nav-link:hover {
  color: #000000;
}

section#services i.bi-laptop {
  color: #007f5f;
}

section#services i.bi-globe {
  color: #007f5f;
}

section#services i.bi-gem {
  color: #007f5f;
}

section#services i.bi-book {
  color: #007f5f;
}

section#contact {
  background-color: #212529;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact h2,
section#contact p,
section#contact a {
  color: #fff;
}

.contact-link {
  color: #fff;
}

section#contact a:hover {
  color: #BFD200;
}

/* Footer */

footer.footer {
  color: #fff;
}

footer.footer .text-color,
footer.footer .designer-link {
  color: #fff;
}

footer.footer a {
  color: #fff;
}

footer.footer a:hover {
  color: yellow;
}

footer.footer .designer-link:hover {
  color: #000;
}