/********** Root CSS **********/

body {
  font-family: 'EB Garamond', serif;
}

/* Animation Background */

/* Navbar and footer Gradient Color */
.gradient-custom {
  /* fallback for old browsers */
  background: #1e7406;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, rgba(30, 116, 6, 0.65), rgba(174,164,45,0.65));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, rgba(30,116,6,0.65), rgba(174,164,45,0.65));
}

/** Navigation **/

.navbar-brand span {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 200;
  display: inline-block;
  padding: 10px 0 0 15px;
  text-transform: uppercase;
  color: #fff;
}

.navbar-brand span:hover {
  color: #000;
}

.navbar-brand img {
  height: 64px;
  float: left;
  margin-right: 2px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #F6B319;
  text-align: center;
}

#nav-list a:hover {
  color: #348E38;
}

#logo {
  vertical-align: middle;
}

.logo img {
  transition: all 0.5s ease-in-out;
}

.logo:hover img {
  transform: scale(1.2);
}

.navbar-nav {
  text-transform: uppercase;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
  color: #348E38;
  border-color: #348E38;
}

/* Header */

header.slogan {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: radial-gradient(circle, rgba(52,142,56,1) 20%, rgba(246,179,25,1) 80%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

/* Page Section */

.page-section {
  padding: 8rem 0;
}

section#about {
  color: #348E38;
}

#about a.btn {
  color: #fff;
}

#about a.btn:hover {
  color: #F6B319;
}

section#portfolio {
  color: #F6B319;
}

#portfolio a {
  color: #F6B319;
  text-decoration: none;
}

#portfolio a:hover {
  color: #348E38;
}

section#services {
  color: #348E38;
}

.service-link {
  color: #348E38;
  text-decoration: none;
}

.service-link:hover {
  color: #F6B319;
}

section#contact {
  background-color: #212529;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #F6B319;
}

.contact-link {
  color: #F6B319;
  transition: color 0.3s;
}

.contact-link:hover {
  color: #348E38;
}

.footer .text-color {
  color: #F6B319;
}

.footer a.designer-link {
  color: #F6B319;
  transition: color 0.3s;
}

.footer a.designer-link:hover {
  color: #348E38;
}

.footer a.btn-social i {
  color: #F6B319;
  transition: color 0.3s;
}

.footer a.btn-social:hover i {
  color: #348E38;
}
